.debug {
  position: fixed;
  top: 4rem;
  left: calc(50% - 12.5vw);
  width: 25vw;
  height: calc(100% - (4rem * 2));
  text-shadow: var(--main-background) 0 0 8px;
  text-align: left;
  padding: 1em;
  font-size: 66%;
  overflow-y: auto;
  color: var(--main-typography);
  pointer-events: none;
  line-height: 1rem;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @include screenSize(mdMobile) {
    width: 75vw;
    left: calc(50% - 37.5vw);
  }
}
