.debug {
  position: fixed;
  top: 4rem;
  left: calc(50% - 12.5vw);
  width: 25vw;
  height: calc(100% - (4rem * 2));
  z-index: 1;
  text-shadow: var(--main-background) 0 0 2px;
  text-align: left;
  padding: 1em;
  font-size: 66%;
  overflow-y: auto;
  color: var(--main-typography);
}
