html,
body,
#root,
canvas {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #272730;
    color: #f7f7f7;
}

.App {
    text-align: center;
    height: 100vh;
}

h1 {
    color: f7f7f7;
}

.floating-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
.floating-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
.debug {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: auto;
    z-index: 1;
    text-shadow: #272730 0 0 1px;
    text-align: left;
    padding: 1em;
    font-size: 66%;
}
