@import './variables.scss';
@import './reset.scss';
@import './mixins.scss';
@import './components/index.scss';

html,
body,
#root,
canvas {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #272730; // Dark mode standard
  color: #f7f7f7; // Dark mode standard
}

@include themeColors(); // Load CSS color variables

.App {
  @include bodyText();
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--main-background);
  color: var(--main-typography);
  @include transitionColors();
}

h1 {
  // color: f7f7f7;
  @include titleText();
  @include h1Title();
  @include transitionColors();
}
h2 {
  // color: f7f7f7;
  @include titleText();
  @include h2Title();
  @include transitionColors();
}
h3 {
  // color: f7f7f7;
  @include titleText();
  @include h3Title();
  @include transitionColors();
}
h4 {
  // color: f7f7f7;
  @include titleText();
  @include h4Title();
  @include transitionColors();
}

p,
i,
strong,
a,
em,
.fa,
.fal {
  color: var(--main-typography);
  @include transitionColors();
}

.floating-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
}

.background-blocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  background-color: var(--main-background);

  &.hidden {
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.5s ease;
  }
}
