@import './variables.scss';
@import './reset.scss';
@import './mixins.scss';
@import './components/index.scss';

html,
body,
#root,
canvas {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #272730; // Dark mode standard
  color: #f7f7f7; // Dark mode standard
}

.App {
  @include bodyText();
  height: 100vh;
  width: 100vw;
  position: fixed;
}

@include themeColors(); // Load CSS color variables

h1 {
  // color: f7f7f7;
  @include titleText();
  @include h1Title();
}
h2 {
  // color: f7f7f7;
  @include titleText();
  @include h2Title();
}
h3 {
  // color: f7f7f7;
  @include titleText();
  @include h3Title();
}
h4 {
  // color: f7f7f7;
  @include titleText();
  @include h4Title();
}

p,
i,
strong,
a,
em,
.fa,
.fal {
  color: var(--main-typography);
}

.floating-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
}
.floating-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
.debug {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: auto;
  z-index: 1;
  text-shadow: var(--main-background) 0 0 1px;
  text-align: left;
  padding: 1em;
  font-size: 66%;
  overflow-y: auto;
}
