@font-face {
    font-family: 'heeboregular';
    src: url('heebo-variablefont_wght-webfont.woff2') format('woff2'),
         url('heebo-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trispacethin';
    src: url('trispace-variablefont_wdthwght-webfont.eot');
    src: url('trispace-variablefont_wdthwght-webfont.eot?#iefix') format('embedded-opentype'),
         url('trispace-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('trispace-variablefont_wdthwght-webfont.woff') format('woff'),
         url('trispace-variablefont_wdthwght-webfont.ttf') format('truetype'),
         url('trispace-variablefont_wdthwght-webfont.svg#trispacethin') format('svg');
    font-weight: normal;
    font-style: normal;
}