@mixin bodyText() {
    font-family: 'trispacethin';
    letter-spacing: -0.05em;
    font-weight: 800;
}

@mixin titleText() {
    font-family: 'heeboregular';
    font-weight: 800;
    line-height: 1em;
}

@mixin h1Title() {
    font-size: 3.5rem;
}

@mixin h2Title() {
    font-size: 2.5rem;
}

@mixin h3Title() {
    font-size: 2rem;
}

@mixin h3Title() {
    font-size: 1.75rem;
}

@mixin h4Title() {
    font-size: 1.5rem;
}