.button {
	background-color:transparent;
	padding: 0.5rem 2rem;
    line-height: 1.5rem;
	display:inline-block;
	cursor:pointer;
	color:#f7f7f7;
	font-size: 1rem;
	text-decoration:none;
    @include bodyText();
    border: 1px solid #f7f7f7;
    border-bottom-width: 6px;
}
.button:hover {
	background-color:#f7f7f7;
    color: #272730;
}
.button:active {
	position:relative;
	top:1px;
}